<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="assets/css/streaming_style.css" />
				<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
		<!-- Optional theme -->
		{{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap-theme.min.css"> --}}
		<title>What to Stream</title>
		{{!-- <script src="/assets/js/cats.js"></script> --}}
	</head>
	<body>
		{{{ body }}}
			<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
	<script src="/assets/js/stream.js"></script>
	</body>
</html>
