<div class="container">
	<div class="row">
		<div class="col-md-12 text-center" id="top-bar">
			<h1> Streaming Watchlist </h1>
		</div>
		<div class="col-md-6 text-center" class="task">
			<h2>To Watch</h2>
			{{#each media}}
			{{#unless watched}}
			<li>{{name}} <button class="btn btn-primary" data-id={{id}}>Watched?</button></li>
			{{/unless}}
			{{/each}}
		</div>
		<div class="col-md-6 text-center" class="task">
			<h2>Watched</h2>
			{{#each media}}
			{{#if watched}}
			<li>{{name}}</li>
			{{/if}}
			{{/each}}
		</div>
	</div>
	</div>

	<div class="container">
	<div class="row">
		<div class="col-md-12 text-center enter_section">
				<form action="/api/media/new" method="post" autocomplete="off">
					<input type="text" id="new-book-title" name="name" placeholder="Game of Thrones">
					<button type="submit" class="btn btn-primary">Add to Watchlist</button>
				</form>
			<p>Enter a Show or Movie you want to watch</p>
		</div>
	</div>
</div>

